version: '3.8'

services:
  postgres_db:
    image: postgres:15
    container_name: legallens_pg
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres_storage:/var/lib/postgresql/data

  mongodb:
    image: mongo:latest
    container_name: legallens_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo_storage:/data/db